@import "../css/default.css";

@font-face {
	font-family: "PT Sans";
	src: url("feedmei/pts55f-webfont.woff") format("woff");
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	src: url("feedmei/pts56f-webfont.woff") format("woff");
}
@font-face {
	font-family: "PT Sans";
	font-weight: bold;
	src: url("feedmei/pts75f-webfont.woff") format("woff");
}

:not(.material-icons) {
	font-family: "PT Sans" !important;
	text-rendering: optimizelegibility !important;
}
	.material-icons {
		filter: grayscale(100%);
	}
	.flat :before {
		font-family: "flat-icon" !important;
		filter: grayscale(100%);
	}

#floatingTitle .right img, .header .right img,
.dijitTreeIcon i.material-icons, .dijitTreeIcon img,
#dijit_form_ComboButton_0 .dijitReset.dijitButtonContents,
.dijitReset.dijitStretch.dijitButtonContents.dijitDownArrowButton,
.ttrss_prefs i.material-icons { margin-top: -6px }

.dijitButtonContents i.material-icons, .loadingNode,
.feed-title img, .feed-title i.material-icons, #feed_title i.material-icons,
.footer .left i.material-icons,
.dijitTabPaneWrapper .dijitCheckBox,
.ttrss_prefs #feedConfigTab .dijitTreeIcon img { margin-top: -5px }

.dijitTreeExpando, .dijitButton .dijitButtonText { margin-top: -4px }

i.material-icons.icon-restore { margin: -5px 0 0 -1px }

/* Article font (uncomment to use):
.content-inner *,
.post .content * {
	font-family: serif !important;
}*/

body.ttrss_main #feeds-holder,
body.ttrss_main #feeds-holder_splitter,
body.ttrss_main #content-insert_splitter,
body.ttrss_main #toolbar-frame,
body.ttrss_main #toolbar-frame #toolbar {
	background: #eee;
}

body.ttrss_main #feedTree .dijitTreeContainer {
	padding-top: 1em;
}

body.ttrss_main div.whiteBox,
body.ttrss_main #headlines-spacer {
	font-size: 1em;
}

body.ttrss_main #toolbar-frame #toolbar {
	padding: 5px 0;
	font-size: 1.1em;
}
	body.ttrss_main #toolbar-frame #toolbar span.left { padding-left: 5px }

body.ttrss_main #feeds-holder #feedTree .counterNode {
	margin-top: 1px;
	background: #ddd;
	padding: .2em;
	font-size: .75em;
	font-weight: bold;
	color: #777;
	border: 0;
}

body.ttrss_main #feeds-holder #feedTree .counterNode.aux {
	font-weight: normal;
	color: #999;
}

body.ttrss_main #overlay_inner {
	width: 300px;
	margin: 42vh auto;
}

.flat .dijitProgressBarFull {
	background-color: #1f6f0f;
}

.dijitTreeNode .dijitTreeRow,
.dijitTreeNode .dijitTreeRowSelected,
#floatingTitle .title, #floatingTitle .author,
#floatingTitle .updated, #floatingTitle .icon-score,
.flat .dijitMenuItem {
	color: #888 !important;
}

.flat .dijitTextBoxHover,
.flat .dijitTextBoxFocused {
	border-color: #ccc;
}

#toolbar .dijitButtonNode, #toolbar table.dijitSelect {
	box-shadow: none !important;
}

.dijitTreeNode .dijitTreeRowHover {
	background: rgba(222, 222, 222, .2);
}

.dijitTreeNode .dijitTreeRowSelected {
	border-left-color: #eee !important;
	border-right-color: #eee !important;
}

body.ttrss_main #feeds-holder #feedTree .dijitTreeRow.Error .dijitTreeLabel {
	color: #a33;
}

#toolbar .dijitButtonNode, #toolbar .dijitDownArrowButton {
	color: #888;
	background: transparent !important;
}

#toolbar #dijit_form_ComboButton_0_button {
	margin: -6px -10px 0 2px
}

.dijitCheckBox,
#floatingTitle .feed a, #floatingTitle img.icon, .header .feed a,
#headlines-frame .icon,
.feed-icon img, .feed-title img, .header img {
	opacity: .75;
	filter: grayscale(100%) !important;
}

#headlines-frame .hl .feed,
.dijitButton, .dijitComboButton,
.ttrss_prefs .dijitCheckBox {
	opacity: 1;
	filter: grayscale(60%) !important;
}

#headlines-frame .title:hover {
	text-decoration: none !important;
}

.ttrss_prefs .dijitTreeRow .feedParam {
	margin-right: 1em;
}

.marked .marked-pic {
	filter: grayscale(100%) brightness(60%);
}

body.ttrss_main i.icon-syndicate {
	margin-top: -4px;
	color: #909090;
	border-color: #909090;
}

.flat .dijitContentPane {
	background: #fefefe;
}

#header a,
.hotkeys-help .hk,
.content :not(.feed) a {
	color: #270 !important;
}

#header a:hover, a:hover,
.content :not(.feed) a:hover,
.dijitMenuItem.dijitDisabled .dijitMenuItemLabel {
	color: #160 !important;
}

.ttrss_prefs .dijitTreeRowSelected,
.dijitMenuItemSelected td {
	color: #909090 !important;
	background-color: #eee !important;
}

body.ttrss_main .hl.active {
	background: #ddd !important
}

body.ttrss_main .hl.active *,
#toolbar .dijitOpened * {
	color: #444 !important;
}

body.ttrss_main #headlines-frame div.feed-title {
	padding: 5px 10px;
	border-color: #ddd;
}

div.cdm.expanded {
	margin: 1.5em;
	padding: 1em;
	color: #555 !important;
	border: 1px solid #eee;
}

div.cdm.expanded.active {
	background: #f9f9f9;
	color: #444;
	border: 1px solid #ddd;
}

.header .title a, .header .row a,
div.cdm.expanded.active div.header a.title,
div.cdm.active div.content {
	color: #444;
}

#toolbar-frame #toolbar,
#toolbar-frame #toolbar #feed_title a,
#toolbar-frame #toolbar #selected_prompt,
div.cdm.expanded.Unread div.header a.title,
div.cdm.expanded.Unread div.content {
	color: #555 !important;
}

div.cdm.expanded .footer {
	padding-left: 0;
	border: 0;
}

.dijitTabContainerTop-tabs .dijitTabChecked::before {
	background: #160 !important;
	filter: none;
}

.dijitAccordionInnerContainerSelected .dijitAccordionTitle {
	background: #909090 !important;
}

::selection { background: #ddd !important }
::-webkit-scrollbar-thumb { background: #ddd !important }
