@import "feedmei.css";

/* Hide "Mark as read" button */
#toolbar-main #dijit_form_ComboButton_0,
#toolbar-main #fox_form_ComboButton_0 { display: none }

/* Optimize legibility by maximum text width */
div.cdm.expanded {
	width: calc(100% - 72px);
	max-width: 960px;
	margin: 21px auto;
}

.content {
	max-width: 800px;
	margin: 0 auto;
}

/* Align first article image to right */
@media screen and (min-width: 800px) {
	.content-inner > figure:first-child,
	.content-inner > p:nth-child(-n+2) > img:first-child,
	.content-inner > div:nth-child(-n+2) > img:first-child,
	.content-inner > div:nth-child(-n+2) > figure:first-child {
		max-width: 42%;
		float: right;
		margin: 0 0 .5em 1em;
	}
}


/* Set custom article fonts */
.header .title { font-size: 19px !important }

.content-inner,
.content-inner :not(h3),
.post .content,
.post .content :not(h3) {
	font-family: Amasis, "PT Serif", "PT Sans", serif !important;
	letter-spacing: -.005em;
}

body.ttrss_main h3,
.content-inner p,
.post .content p { font-size: 17px }

.content-inner figure * {
	margin: 0;
	font: 600 italic 13px sans-serif !important;
}