@import "feedmei+.css";

body:not(.ttrss_prefs),
body:not(.ttrss_prefs) a:hover,
body:not(.ttrss_prefs) #header a,
body:not(.ttrss_prefs) .feed-editor-icon,
body:not(.ttrss_prefs) .dijitMenuItem.dijitDisabled .dijitMenuItemLabel,
body:not(.ttrss_prefs) .dijitProgressBarFull,
body:not(.ttrss_prefs) .dijitProgressBarLabel,
.hotkeys-help .hk,
.content :not(.feed) a,
.Selected .header,
.hl.Selected { filter: invert(94%) }

.content iframe,
.content :not(a) > img { filter: invert(100%) }

body:not(.ttrss_prefs) span.dijitButton,
body:not(.ttrss_prefs) .dijitCheckBox,
body:not(.ttrss_prefs) .dijitTabContainerTop-tabs .dijitTabChecked:before { filter: grayscale(40%) invert(94%) !important }

body:not(.ttrss_prefs) .dijitDialogUnderlay { background: #fff }

body:not(.ttrss_prefs) .dijitMenuItemSelected.dijitDisabled .dijitMenuItemLabel { background-color: #000 !important }

body.ttrss_main #feeds-holder #feedTree .dijitTreeRow.Error .dijitTreeLabel { color: #4ff }

.active:not(.Unread) .content-inner img,
.active:not(.Unread) .content-inner iframe { border-color: #111 !important }

div.cdm.expandable div.header a.title,
div.cdm.expanded div.header a.title { transition: none }