@import "feedmei.css";

@font-face {
	font-family: "PT Serif";
	src: url("feedmei/ptf55f-webfont.woff") format("woff");
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	src: url("feedmei/ptf56f-webfont.woff") format("woff");
}
@font-face {
	font-family: "PT Serif";
	font-weight: bold;
	src: url("feedmei/ptf75f-webfont.woff") format("woff");
}

/* Optimize legibility by maximum text width */
div.cdm.expanded {
	width: calc(100% - 72px);
	max-width: 960px;
	margin: 21px auto;
}

.content {
	max-width: 50em;
	margin: 0 auto;
}

/* Align right first article image */
@media screen and (min-width: 800px) {
	.content > figure:first-child,
	.content header + div > figure,
	.content > p:nth-child(-n+2) > img:first-child,
	.content > div:nth-child(-n+2) > img:first-child,
	.content > div:nth-child(-n+2) > figure:first-child,
	.content-inner > figure:first-child,
	.content-inner header + div > figure,
	.content-inner > p:nth-child(-n+2) > img:first-child,
	.content-inner > div:nth-child(-n+2) > img:first-child,
	.content-inner > div:nth-child(-n+2) > figure:first-child {
		max-width: 42%;
		float: right;
		margin: 0 0 .5em 1em;
	}
}

/* Set custom article fonts */
.cdm.expanded .header .title,
.cdm.expandable.active .header .title,
#content-insert .header .title a { font-size: 19px !important }

.content-inner,
.content-inner *,
.post .content,
.post .content * {
	font-family: "PT Serif", "PT Sans", serif !important;
	line-height: 1.6;
}

.content h1,
.content h2,
.content h3,
.content h4 {
	font-family: "PT Sans", sans-serif !important;
	font-size: 19px !important;
}

.content-inner p,
.post .content p { font-size: 16px }

.content-inner figure *,
.post .content figure * {
	margin: 0;
	font: 600 13px "PT Sans", sans-serif !important;
	letter-spacing: .005em;
}